.header {
  position: absolute;
  right: 0;
  top: 0;
  height: 70px;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
}
.header a {
  margin-right: 50px;
  text-decoration: none;
}


#book-now-btn {
  text-decoration: none;
  color: white;
  background-color: rgb(41, 74, 167);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.288);
  white-space: nowrap;
}
#num-btn {
  margin-right: 30px;
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.288);
  white-space: nowrap;
  color: rgb(67, 117, 255);
}

.logo-container {
  height: 70px;
  position: absolute;
  top: 10px;
  left: 240px;
}
.logo {
  width: 150px;
}
.header a:hover {
  text-decoration: underline;
}