.nav-bar {
  background-color: rgb(6, 47, 160);
  border-radius: 5px;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 10px;
  top: 20px;
  width: 230px;
}
.nav-bar a {
  text-decoration: none;
  color: aliceblue;
  margin-top: 20px;
  margin-left: 8px;
  width: 85%;
  transition: text-decoration 0.2s;
}
.nav-bar a:hover {
  text-decoration: underline;
}
.nav-bar input {
  width: 210px;
  margin-top: 25px;
  margin-left: 8px;
  padding: 8px 8px;
  background-color: rgb(22, 45, 105);
  border: solid gray 1px;
  border-radius: 7px;
}
.nav-bar img {
  width: 150px;
  margin-top: 10px;
  margin-left: 10px;
}
hr {
  margin-top: 15px;
  margin-left: 8px;
  width: 210px;
}
.nav-two {
  display: flex;
  flex-direction: column;
}
.nav-two h3 {
  color: rgb(221, 221, 221);
  margin-left: 8px;
  margin-bottom: 0;
}

.foot-nav {
  display: flex;
  justify-content: center;
}
.foot-nav h4 {
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  background-color: rgb(22, 45, 105);
  padding: 8px;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar-right {
  background-color: rgb(22, 45, 105);
  border-radius: 15px;
  position: fixed;
  right: 15px;
  top: 80px;
  bottom: 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.nav-bar-right-logo img{
  width: 100px;
  margin-top: 30px;
}
.options {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.options a {
  margin-bottom: 40px;
  text-decoration: none;
}
.logout button {
  margin-bottom: 35px;
  border: none;
  padding: 10px 20px 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  transition: box-shadow 0.15s;
}
.logout button:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.329);
}

#dashboard {
  background-color: rgb(12, 27, 65);
  padding: 15px;
  margin-bottom: 25px;
  margin-right: 0px;
  margin-left: 0;
  border-radius: 15px;
}