body {
  background-image: url(Blue\ and\ White\ Gradient\ Zoom\ Room\ Background\ Zoom\ Virtual\ Background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: roboto, arial;
}

