.home-page-icon {
  position: fixed;
  right: 50px;
  bottom: 40px;
}
.home-icon {
  width: 450px;
}

.motivational-speech {
  position: fixed;
  left: 50px;
  top: 75px;
}
.headline {
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 0;
  color: white;
}

.the-motivation {
  margin-top: 30px;
  width: 600px;
  color: white;
}

.book-button{
  background-color: rgb(0, 110, 173);
  border-radius: 25px;
  color: white;
  font-family: roboto;
  display: inline-block;
  padding: 10px;
  font-weight: bold;
  transition: box-shadow 0.15s;
}
.btn-container {
  display: flex;
  justify-content: start;
  align-items: start;
}

.book-button i {
  font-size: 25px;
  vertical-align: middle;
  margin-right: 5px;
}
.book-button:hover {
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.425);
}
.book-button:active {
  opacity: 0.7;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 150px;
}

.info p {
  display: inline-block;
  margin-left: 10px;
  font-family: roboto;
  font-weight: bold;
  color: white;
}
.info i {
  background-color: rgb(0, 110, 173);
  color: white;
  padding: 8px 9px;
  border-radius: 20px;
}